-
    const aboutItems = [
        {name: 'Производство типовых железобетонных изделий', img: './img/content/about-about/1.png'},
        {name: 'Доставка продукции Ж/Д и авто транспорнтом', img: './img/content/about-about/2.png'},
        {name: 'Производство изделий по индивидуальным чертежам', img: './img/content/about-about/3.png'},
    ]
