-
    const benefits = [
        {
            name: 'Эффективная ЛОГИСТИКА',
            description: 'Готовы организовать поставку ЖБИ на ваши строительные объекты автомобильным или железнодорожным транспортом, для перевозок используем свой автотранспорт, что существенно сокращает стоимость доставки продукци',
            imgSrc: './svg/sprite.svg#benefits--1',
            imgHoverSrc: './svg/sprite.svg#benefits--1-hover'
        },
        {
            name: 'НАДЁЖНОСТЬ И ОПЫТ',
            description: 'Наш завод ЖБИ работает на строительном рынке уже более пяти лет. За это время мы честным трудом заработали свое доброе имя и деловую репутацию, которыми дорожит каждый сотрудник компании. За эти годы наш коллектив накопил ценнейшие знания, которые теперь используются на благо ваших интересов.',
            imgSrc: './svg/sprite.svg#benefits--2',
            imgHoverSrc: './svg/sprite.svg#benefits--2-hover'
        },
        {
            name: 'ГИБКИЕ ФИНАНСОВЫЕ УСЛОВИЯ',
            description: 'Мы дорожим каждым клиентом, с пониманием относимся к потребностям и возможностям заказчика при определении условий сотрудничества. Менеджеры компании всегда готовы сделать сотрудничество обоюдовыгодным.',
            imgSrc: './svg/sprite.svg#benefits--3',
            imgHoverSrc: './svg/sprite.svg#benefits--3-hover'
        },
        {
            name: 'КАЧЕСТВО ПРОДУКЦИИ',
            description: 'Вся продукция нашего завода ЖБИ строго соответствует требованиям ГОСТ. Мы тщательно отбираем поставщиков сырья для нашего производства. В штате компании работают только опытные специалисты, что обеспечивает профессиональный и внимательный контроль качества продукции на всех этапах производства.',
            imgSrc: './svg/sprite.svg#benefits--4',
            imgHoverSrc: './svg/sprite.svg#benefits--4-hover'
        },
        {
            name: 'ИНДИВИДУАЛЬНЫЙ ЗАКАЗ',
            description: 'Наличие современного оборудования, собственный металлоцех, паровые камеры, цех изготовления бетонной смеси и  специалисты. Мы готовы поставить железобетонные изделия любой сложности, возьмемся за изготовление нестандартных изделий по вашим чертежам и проектам.',
            imgSrc: './svg/sprite.svg#benefits--5',
            imgHoverSrc: './svg/sprite.svg#benefits--5-hover'
        },
    ]
