-
    const catalogItems = [
        {imgSrc: './img/content/main-catalog/1.png', name: 'ЛотокЛ 20.5 (УБК-2А)', description: 'Д/Ш/В 3080х2060х580 мм Вес 0,175 т  |  Объём 0,07 м3', cost: '15 200 Р/шт'},
        {imgSrc: './img/content/main-catalog/2.png', name: 'Плита П 10.5 (УБК-5)', description: 'Д/Ш/В 995х495х60 мм Вес 0,07 т  |  Объём 0,029 м3', cost: '27 333 Р/шт'},
        {imgSrc: './img/content/main-catalog/3.png', name: 'Кольцо стеновое КС 10.3 / КЦ 10-3', description: 'Д/Ш/В 1160х1160х290 мм Вес 0,25 т  |  Объём 0,08 м3', cost: 'По запросу'},
        {imgSrc: './img/content/main-catalog/4.png', name: 'Кольцо стеновое КС 10.3 / КЦ 10-3 Плита П 10.5 (УБК-5) Плита П 10.5 (УБК-5)', description: 'Д/Ш/В 995х495х60 мм Вес 0,07 т  |  Объём 0,029 м3', cost: '27 333 Р/шт'},
        {imgSrc: './img/content/main-catalog/5.png', name: 'Лоток Л 20.5 (УБК-2А)', description: 'Д/Ш/В 3080х2060х580 мм Вес 0,175 т  |  Объём 0,07 м3', cost: '15 200 Р/шт'},
        {imgSrc: './img/content/main-catalog/6.png', name: 'Кольцо стеновое КС 10.3 / КЦ 10-3', description: 'Д/Ш/В 1160х1160х290 мм Вес 0,25 т  |  Объём 0,08 м3', cost: 'По запросу'},
        {imgSrc: './img/content/main-catalog/7.png', name: 'Плита П 10.5 (УБК-5)', description: 'Д/Ш/В 995х495х60 мм Вес 0,07 т  |  Объём 0,029 м3', cost: '27 333 Р/шт'},
        {imgSrc: './img/content/main-catalog/8.png', name: 'Кольцо стеновое КС 10.3 / КЦ 10-3', description: 'Д/Ш/В 1160х1160х290 мм Вес 0,25 т  |  Объём 0,08 м3', cost: 'По запросу'},
    ]
