-
    const footerGoodsItems1 = [
        {
            name: 'Кольца колодезные',
            url: '#'
        },
        {
            name: 'Лотки теплотрасс',
            url: '#'
        },
        {
            name: 'Лотки кабельные',
            url: '#'
        },
        {
            name: 'Лоток железобетонный ЛК',
            url: '#'
        },
        {
            name: 'Лоток УБК',
            url: '#'
        },
        {
            name: 'Плиты покрытия лотков теплотрасс',
            url: '#'
        },
        {
            name: 'Плиты покрытия коллекторов',
            url: '#'
        },
        {
            name: 'Плиты покрытия кабельных лотков',
            url: '#'
        },
        {
            name: 'Днища колодезные',
            url: '#'
        }
    ]
    const footerGoodsItems2 = [
        {
            name: 'Аэродромные плиты',
            url: '#'
        },
        {
            name: 'Вентиляционные блоки',
            url: '#'
        },
        {
            name: 'Доборные балки',
            url: '#'
        },
        {
            name: 'Дорожные плиты',
            url: '#'
        },
        {
            name: 'Дорожные ограждения жби',
            url: '#'
        },
        {
            name: 'Дорожный бордюр',
            url: '#'
        },
        {
            name: 'Фундаменты дорожных знаков',
            url: '#'
        },
        {
            name: 'Железобетонные стойки',
            url: '#'
        },
        {
            name: 'Заборы ЖБИ',
            url: '#'
        }
    ]
    const footerGoodsItems3 = [
        {
            name: 'Плиты укрепления откосов',
            url: '#'
        },
        {
            name: 'Прикромочные лотки',
            url: '#'
        },
        {
            name: 'Железобетонные фермы',
            url: '#'
        },
        {
            name: 'Приставки железобетонные',
            url: '#'
        },
        {
            name: 'Ригель железобетонный',
            url: '#'
        },
        {
            name: 'Стойки СКЦ',
            url: '#'
        },
        {
            name: 'Стойки УСЩ',
            url: '#'
        },
        {
            name: 'Телескопические лотки',
            url: '#'
        },
        {
            name: 'Труба железобетонная',
            url: '#'
        }
    ]
