-
    const footerNavLinks = [
        {
            name: 'Каталог',
            url: 'catalog.html',
            img: './svg/sprite.svg#grid-view',
            imgHover: './svg/sprite.svg#grid-view-hover',
        },
        {
            name: 'О производстве',
            url: 'about.html',
            img: null
        }, {
            name: 'Новости',
            url: 'news.html',
            img: null
        }, {
            name: 'Закупки',
            url: 'purchases.html',
            img: null
        }, {
            name: 'Вакансии',
            url: 'vacancies.html',
            img: null
        }, {
            name: 'Прайс',
            url: 'prices.html',
            img: './svg/sprite.svg#document',
            imgHover: './svg/sprite.svg#document-hover',
        }
    ]

