-
	const newsItems = [
		{title: 'Эксперты в области недвижимости высоко оценили работу «ЗДСК»', date: '22 февраля 2022', imgSrc: './img/content/main-news/1.png'},
		{title: 'Изделия «ЗДСК» для одного из лучших в России спинальных центров', date: '15 января 2022', imgSrc: './img/content/main-news/2.png'},
		{title: '«ЗДСК» изготовила 30-тонные колонны очень сложной  конфигурации', date: '28 апреля 2022', imgSrc: './img/content/main-news/3.png'},
		{title: 'Эксперты в области недвижимости высоко оценили работу «ЗДСК»', date: '28 апреля 2022', imgSrc: './img/content/main-news/4.png'},
	]