-
    const warehouseItems = []

    for (let i = 1; i < 8; i++) {
        const obj = {
            img: `./img/content/warehouse/${i}.png`,
            alt: `Фото склада ${i}`
        }

        warehouseItems.push(obj)
    }

