section.footer-top
  .footer-top__wrapper.container
    a.logo.footer-top__logo(href='index.html' title='На главную')
      img.logo__img(src='./svg/sprite.svg#logo' alt='Логотип')
      abbr.logo__text ЗДСК
      .logo__description.footer-top__logo-description
        span Производство
        span железобетонных
        span конструкций
    form.footer-top__search-form
      input(type="text" placeholder='Поиск' data-search-input).footer-top__search-input
    a(href='search.pug').footer-top__search-link
      img(src='./svg/sprite.svg#search').footer-top__search-icon
