section.footer-down
    .footer-down__top-line
        .container.footer-down__top-wrapper
            p.footer-down__copyright 2020, ЗДСК Производство железобетонных конструкций
            .footer-down__copyright-right
                a(href='#').footer-down__copyright-link Публичная оферта
                a(href='#').footer-down__copyright-link Политика конфиденциальности

    .footer-down__bottom-line
        .container.footer-down__bottom-wrapper
            p.footer-down__coockie Для сбора информации технического характера мы используем файлы Cookie <br> В том числе, мы обрабатываем Ваш IP-адрес, для определения региона местоположения.
            a(href='#').footer-down__development
                | РАЗРАБОТКА И ПОДДЕРЖКА «СИТИС»
                img(src='./svg/sprite.svg#dev-logo').footer-down__development-icon

