extend ./layout/layout
block title
    title СДСК: О производстве

block main
    include pages/about/about
    include pages/about/warehouse
    include pages/about/map
    include pages/about/production
    include pages/about/delivery
    include pages/about/thanks-letters
