extend ./layout/layout
block title
    title СДСК: Главная

block main
    include pages/index/main-intro
    include pages/index/main-catalog
    include pages/index/main-about
    include pages/index/main-benefits
    include pages/index/main-news
