@font-face {
  font-family: stolzl;
  font-style: normal;
  src: url('./fonts/Stolzl-Regular.woff2');
}

@font-face {
  font-weight: 500;
  font-family: stolzl;
  font-style: normal;
  src: url('./fonts/Stolzl-Medium.woff2');
}

@font-face {
  font-weight: 700;
  font-family: stolzl;
  font-style: normal;
  src: url('./fonts/Stolzl-Bold.woff2');
}