*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $fs-l;
  background-color: $black;
}

body {
  color: $white;
  font-family: $base-font-family;
  background-color: $black;
}

main {
  background-color: $bg-color-main;
}

ul {
  list-style: none;
}

pre {
  font-family: $base-font-family;
}

img {
  max-width: 100%;
}

button {
  background-color: inherit;
  border: 1px solid $black;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  padding: $size-s $size-6xl;
  color: $white;
  font-weight: 400;
  font-size: $fs-xxl;
  font-family: $base-font-family;
  font-style: normal;
  background-color: $bg-input-color;
  border: none;
  border-radius: $size-xxxs;

  &::placeholder {
    color: $light-gray;
  }
}

input[type='text'],
input[type='email'], {
  padding-right: $size-14xl;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: $size-5xl;

  &:valid:not([data-search-input]) {
    background-image: url('./svg/sprite.svg#success');
    outline: 1px solid $firm;
  }
}

textarea {
  resize: none;

  &:valid {
    outline: 1px solid $firm;
  }

}
