// FONTS
$base-font-family: stolzl, arial, sans-serif;

// FONT-SIZE
$fs-xxxs: 10px;
$fs-xxs: 12px;
$fs-xs: 13px;
$fs-s: 14px;
$fs-m: 15px;
$fs-l: 16px;
$fs-xl: 18px;
$fs-xxl: 20px;
$fs-xxxl: 22px;
$fs-xxxxl: 24px;
$fs-xxxxxl: 26px;
$fs-xxxxxxl: 28px;
$fs-xxxxxxxl: 30px;
$fs-xxxxxxxxl: 32px;
$fs-xxxxxxxxxls: 40px;
$fs-xxxxxxxxxl: 48px;
$fs-xxxxxxxxxxl: 64px;
$fs-xxxxxxxxxxxl: 120px;

// COLORS
$white: #fff;
$brightest: #F1F3F4;
$border: #DEE2E7;
$gray: #7A8396;
$light-gray: #9EA5AF;
$dark-gray: #4B5362;
$firm: #FF7A00;
$dark-firm: #F558;
$black: #051126;
$bg-color-main: #0C1D37;
$bg-input-color: #2F3D54;
$bg-warehouse-big-slider-item-color: #2F3D54;
$bg-footer-feedback-color: #182841;
$bg-check-input-color: #25344C;

// BORDER
$border: 1px solid rgba($white, .15);

// BREAKPOINTS
$mobile-bp: 576px;
$tablet-bp: 768px;
$notebook-bp: 992px;
$desktop-bp: 1300px;

// CONTAINER
$mobile-width: 95%;
$tablet-width: 740px;
$notebook-width: 960px;
$desktop-width: 1280px;

// SIZING
$size-xxxs: 2px;
$size-xxs: 4px;
$size-xls: 6px;
$size-xs: 8px;
$size-s: 10px;
$size-xm: 11px;
$size-m: 12px;
$size-l: 14px;
$size-xl: 15px;
$size-2xl: 16px;
$size-3xl: 17px;
$size-4xls: 18px;
$size-4xl: 19px;
$size-5xl: 20px;
$size-6xls: 22px;
$size-6xl: 24px;
$size-7xl: 26px;
$size-8xl: 28px;
$size-9xl: 30px;
$size-10xl: 32px;
$size-11xl: 34px;
$size-12xl: 40px;
$size-13xl: 48px;
$size-14xl: 50px;
$size-15xl: 53px;
$size-16xls: 54px;
$size-16xl: 57px;
$size-17xl: 64px;
$size-18xl: 66px;
$size-19xl: 68px;
$size-20xls: 69px;
$size-20xl: 70px;
$size-20xxl: 76px;
$size-21xl: 104px;
$size-22xl: 110px;
$size-23xl: 120px;
