section.main-about
    .container.main-about__wrapper
        h1.title.main-about__title О производстве
        .big-cards.main-about__big-cards
            .big-cards__items
                .big-cards__item
                    .big-cards__item-text
                        p Наш завод ЖБИ основан в 2015 году В самом начале мы научились продавать и организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном быстроменяющемся рынке ЖБИ изделий, где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение, об организации производства ЖБИ изделий.
                    .big-cards__item-img
                        img(src="./img/content/main-about/1.png" alt="Фото производства")._img
                .big-cards__item
                    .big-cards__item-text
                        p Производственные площад разместились в пригороде Екатеринбурга, где на сегодняшний день и продолжаетс производственный процесс. <br><br>  Компания четко ориентируется н рынке, ассортимент продукци расширяется, при этом качеств продукции только растёт.
                    .big-cards__item-img
                        img(src="./img/content/main-about/2.png" alt="Фото производства")._img
                .big-cards__item
                    .big-cards__item-text
                        p Все это отражается на ценовой политик и позволяет поддерживать ее на достаточн низком уровне. В 2018 году было принят решение о закупке нового оборудования EDI STAMPI, KFPK PP, HANGCHA. Что позволило нашем заводу производить железобетонные изделия  больших объемах. Новейшие технологически разработки позволяют выпускать продукци высочайшего качества, которая полность соответствует как российским, так и зарубежным стандартам.
                    .big-cards__item-img
                        img(src="./img/content/main-about/3.png" alt="Фото производства")._img
