section.main-intro
    .container.main-intro__wrapper
        .main-intro__left
            h1.title.main-intro__title Производство железобетонных конструкций для промышленных объектов
            p.main-intro__description Компания чётко ориентируется на рынке, ассортимент продукции постоянно расширяется, при этом качество продукции только растет. Все это отражается на ценовой политике и позволяет поддерживать ее на низком уровне
            .main-intro__actions
                .main-intro__action
                    a(href='#').btn.btn-contained.main-intro__btn Подробнее
                .main-intro__action
                    a(href='#').btn.btn-outlined.main-intro__btn Заказать

        .main-intro__img-wrapper
            img(src='./img/content/main-intro/1.png' alt='Изделия из бетона').main-intro__img
            .main-intro__bg
