.modal.modal__hidden.js-modal.feedback-modal.js-feedback-modal
    .modal__overlay.js-modal-overlay
        .modal__content.js-modal-content.feedback-modal__content
            h1.title.feedback-modal__title.js-feedback-result Отправлено
            pre.feedback-modal__description.js-feedback-description Скоро мы с вами свяжемся
            img(src='./svg/sprite.svg#success' alt='галочка').feedback-modal__img.modal-img
            button.btn.btn-contained.feedback-modal__btn.js-modal-close-trigger Закрыть
