section.delivery
    .container.delivery__wrapper
        h1.title.delivery__title Доставка
        .delivery__items
            .delivery__item
                img(src='./img/content/delivery/1.png' alt='Авто транспорт').delivery__img
                p.delivery__name Авто <br> транспорт
            .delivery__item
                img(src='./img/content/delivery/2.png' alt='Водный транспорт').delivery__img
                p.delivery__name Водный <br> транспорт
            .delivery__item
                img(src='./img/content/delivery/3.png' alt='Железная дорога').delivery__img
                p.delivery__name Железна я<br> дорога
            .delivery__item
                img(src='./img/content/delivery/4.png' alt='Комбинированная доставка').delivery__img
                p.delivery__name Комбинированная доставка
