section.map
    .container.map__wrapper
        h1.title.map__title.map__title-desktop Города поставки
        h1.title.map__title.map__title-mobile Склад готовой продукции
    img(src='./img/content/map/1.png' alt='Карта поставки').map__img-big
    img(src='./img/content/map/2.png' alt='Карта поставки').map__img-small
