include ../../dates/about-production

section.production
    .container.production__wrapper
        h1.title.production__title Производство

        .production__items
            .production__item
                h2.production__head 4000
                p.production__description
                    | м
                    sup._sup 3
                    | площадь производства
            .production__item
                h2.production__head 700+
                p.production__description количество клиентов
            .production__item
                h2.production__head 200
                p.production__description
                    | м
                    sup._sup 3
                    | бетона в день

        .big-cards.production__big-cards
            .big-cards__items
                .big-cards__item
                    .big-cards__item-text
                        p Наш завод ЖБИ основан в 2015 году В самом начале мы научились продавать и организовывать логистику для потребителей железобетонных изделий. Затем мы пошли дальше. Что бы ни утонуть в современном, быстроменяющемся рынке ЖБИ изделий, где вытесняются посредники государственными структурами и пожеланиями потребителей, коллективом ООО «ЗДСК» принято решение, об организации производства ЖБИ изделий.
                    .big-cards__item-img
                        img(src='./img/content/main-about/1.png' alt='')
                .big-cards__item
                    .big-cards__item-text
                        p Производственные площад разместились в пригороде Екатеринбурга, где на сегодняшний день и продолжаетс производственный процесс. <br><br>  Компания четко ориентируется н рынке, ассортимент продукци расширяется, при этом качеств продукции только растёт.
                    .big-cards__item-img
                        img(src="./img/content/main-about/2.png" alt="Фото производства")
                .big-cards__item
                    .big-cards__item-text
                        p Все это отражается на ценовой политик и позволяет поддерживать ее на достаточн низком уровне. В 2018 году было принят решение о закупке нового оборудования EDI STAMPI, KFPK PP, HANGCHA. Что позволило нашем заводу производить железобетонные изделия  больших объемах. Новейшие технологически разработки позволяют выпускать продукци высочайшего качества, которая полность соответствует как российским, так и зарубежным стандартам.
                    .big-cards__item-img
                        img(src="./img/content/main-about/3.png" alt="Фото производства")
                .big-cards__item
                    .big-cards__item-text
                        p Большой выбор товарных позиций предоставляет возможность¡¡ приобрести продукцию для разных областей строительства: железных дорог, метро, автомобильных дорог и автомагистралей, для гражданского и промышленного строительства. Также изготавливаем изделия по индивидуальным чертежам заказчика. В собственности предприятия имеются: автотехника, автокраны, вилочные и фронтальные погрузчики. Это позволяет осуществлять круглосуточное изготовление и доставку железобетонных изделий нашим клиентам. Предлагаем несколько вариантов доставки изделий с завода: автотранспортом, по железной дороге, водным транспортом и комбинированными способами доставки.
                    .big-cards__item-img.production__info
                        h2.title.production__info-title ООО «ЗДСК» гарантирует
                        ul.production__list
                            li.production__list-item Прочность изделий
                            li.production__list-item Высокую степень качества
                            li.production__list-item Устойчивость к статическим и динамическим нагрузкам
