section.thanks-letters
    .container.thanks-letters__wrapper
        h1.title.thanks-letters__title Благодарственные письма
        .thanks-letters__content
            .swiper.js-thanks-letter-slider
                .swiper-wrapper.thanks-letters__lettes
                    .swiper-slide.thanks-letters__letter
                        .swiper-zoom-container
                            img(src='./img/content/thanks-letters/1.png').thanks-letters__letter-img
                        p.thanks-letters__letter-text Сертификат СФ114
                    .swiper-slide.thanks-letters__letter
                        .swiper-zoom-container
                            img(src='./img/content/thanks-letters/2.png').thanks-letters__letter-img
                        p.thanks-letters__letter-text Лицензия 1353-02
                    .swiper-slide.thanks-letters__letter
                        .swiper-zoom-container
                            img(src='./img/content/thanks-letters/3.png').thanks-letters__letter-img
                        p.thanks-letters__letter-text Сертификат СФ114

            .thanks-letters__controls
                button.thanks-letters__controls-btn.js-thanks-letters__btn-right
                    img(src='./svg/sprite.svg#arrow-right')
                button.thanks-letters__controls-btn.js-thanks-letters__btn-left
                    img(src='./svg/sprite.svg#arrow-left')
